html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center;     /* 垂直置中 */
  background-color: #f0ebd8; /* 背景跟 App.jsx 一樣 */
}

#root {
  width: 100%;
  max-width: 720px;  /* 桌機最大寬度 */
  padding: 1rem;
}
